/*null*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}

/*null*/
/*fonts*/
@font-face {
	font-display: swap;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2");
}
@font-face {
	font-display: swap;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/poppins-v20-latin-500.woff2") format("woff2");
}
@font-face {
	font-display: swap;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/poppins-v20-latin-700.woff2") format("woff2");
}
body {
	font-family: "Poppins";
}

.header__menu {
	max-width: 945px;
	margin: 0 auto;
	padding: 33px 0 32px 0;
	border-bottom: solid 1px #828282;
}
.header__list {
	display: flex;
	justify-content: space-between;
}
.header__list :hover {
	color: var(--black, #070707);
}
.header__list li {
	color: #828282;
	font-size: 18px;
}

.hero__wrapper {
	max-width: 945px;
	margin: 0 auto;
}
.hero__container {
	padding: 40px 0 0 0;
	display: flex;
	justify-content: space-between;
}
.hero__title {
	color: var(--black, #070707);
	font-size: 48px;
}
.hero__description {
	margin: 40px 0 0 0;
}
.hero__description p {
	color: var(--black, #070707);
	font-size: 18px;
	margin: 3px 0 0 0;
}
.hero__lang {
	margin: 40px 0 0 0;
}
@media (max-width: 370px) {
	.hero__lang {
		display: none;
	}
}
.hero__local {
	transform: rotate(-90deg);
}
.hero__local :not(:last-child)::after {
	content: "";
	border: #828282 solid 0.1px;
	margin: 0 3px 0 3px;
}
.hero__item {
	display: inline-block;
}
.hero__item a {
	color: #828282;
	font-size: 16px;
	text-transform: uppercase;
}
.hero__item :hover {
	color: var(--black, #070707);
}
.hero__img {
	padding: 31px 0 105px 0;
}
.hero__img img {
	width: 100%;
}

.about {
	background-color: #f6f6f6;
}
.about__wrapper {
	max-width: 530px;
	margin: 0 auto;
	padding: 121px 0 171px 0;
}
.about__title {
	color: var(--black, #070707);
	font-size: 34px;
	text-align: center;
}
.about__description {
	margin: 18px 0 0 0;
}
.about__text {
	color: var(--black, #070707);
	font-size: 18px;
	text-align: center;
	margin: 30px 0 0 0;
	line-height: 20px;
}

.skills__wrapper {
	max-width: 945px;
	margin: 0 auto;
	padding: 91px 0 110px 0;
}
.skills__title {
	text-align: center;
	color: var(--black, #070707);
	font-size: 34px;
}
.skills__description {
	text-align: center;
	color: var(--black, #070707);
	font-size: 18px;
	margin: 69px 0 0 0;
}
.skills__img {
	margin: 83px 0 0 0;
	display: flex;
	justify-content: space-between;
}
@media (max-width: 768px) {
	.skills__img {
		display: grid;
		justify-content: center;
	}
	.skills__img img {
		margin: 20px;
	}
}

.portfolio {
	padding: 113px 0 96px 0;
	background-color: #f6f6f6;
}
.portfolio__wrapper {
	max-width: 945px;
	margin: 0 auto;
}
.portfolio__title {
	text-align: center;
	color: var(--black, #070707);
	font-size: 34px;
}
.portfolio__container {
	margin: 47px 0 0 0;
}
.portfolio__container img {
	width: 100%;
}
.portfolio__item {
	text-align: center;
	font-size: 18px;
	text-decoration-line: underline;
	margin: 45px 0 99px 0;
}
.portfolio__item a {
	color: var(--black, #070707);
}

.contacts {
	padding: 114px 0 89px 0;
}
.contacts__wrapper {
	max-width: 945px;
	margin: 0 auto;
	text-align: center;
}
.contacts__title {
	color: var(--black, #070707);
	font-size: 34px;
}
.contacts__description {
	color: var(--black, #070707);
	font-size: 18px;
	margin: 20px 0 0 0;
	line-height: 25px;
}
.contacts__button {
	color: #000;
	font-size: 18px;
	margin: 30px 0 0 0;
}
.contacts__link {
	display: inline-block;
	padding: 30px 0 0 0;
	border-radius: 24px;
	line-height: 44px;
	height: 42px;
	padding: 0px 30px;
	background-color: #000;
	box-shadow: 0 6px 40px rgba(128, 183, 179, 0.54);
	font-size: 12px;
	letter-spacing: 2.8px;
	color: #ffffff;
	width: 195px;
}

.footer {
	padding: 0 0 123px 0;
}
.footer__wrapper {
	max-width: 945px;
	margin: 0 auto;
}
.footer__links {
	text-align: center;
	max-width: 263px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
@media (max-width: 350px) {
	.footer__links {
		display: grid;
		justify-content: center;
	}
	.footer__links img {
		margin: 7px;
	}
}
.footer__description {
	text-align: center;
	margin: 45px 0 0 0;
}